
.left-container{
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    width: 210px;
    text-align: right;
    padding-right:55px;
}
.left-container img{
    width: 90px;
    height: 90px;
    margin-right:-4px;
    margin-top: 40px;
}
.left-container li{
    list-style-type: none;
    padding-top: 24px;
}
.left-container li>a{
    color: #000;
}
.left-container li>a:hover{
    color: #ffb900;
}
hr{
    margin-top: 25px;
    margin-bottom: 15px;
    color: #f1f1f1;
}
.main-container{
    margin-left: 50px;
}
.form-horizontal .rusults{
	font-weight: 700;
	margin-top:20px;
	margin-bottom: 25px;
}
.borders-info{
	border: 1px solid #ececec;
	padding: 50px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0;

}
.btns{
	text-align: center;
	margin-top: 24px;
	margin-bottom: 10px;
}
.btn-danger{
    background-color: #f58247;
    border-color: #f58247;
}
.input-sm{
	font-size: 14px;
}
.btn{
	font-size: 14px;
}
@media screen and (min-width: 1400px){
    .left-container,
    .main-container{
        float: left;
    }
    .main-container,
    .search-form{
        width: 1125px;
    }
    .borders-info{
    	width: 1105px;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1400px){
    .left-container,
    .main-container{
        float: left;
    }
    .main-container,
    .search-form{
        width: 1025px;
    }
     .borders-info{
    	width: 1005px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1300px){
    .left-container,
    .main-container{
        float: left;
    }
    .main-container,
    .search-form{
        width: 925px;
    }
    .borders-info{
    	width: 905px;
    	
    }
}
@media screen and (min-width:960px) and (max-width: 1200px){
    .container-fluid{
        width:1200px;
    }
    .left-container,
    .main-container{
        float: left;
    }
    .main-container,
    .main-container,
    .search-form{
        width: 925px;
    }
    .borders-info{
    	width: 905px;
    }

}
@media screen and (min-width:700px) and (max-width: 960px){
    .container-fluid{
        width:1200px;
    }
    .left-container,
    .main-container{
        float: left;
    }
    .main-container,
    .search-form{
        width: 925px;
    }
    .borders-info{
    	width: 905px;
    }
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }
    .form-inline .input-group .form-control {
        width: auto;
    }
    .form-inline .input-group > .form-control {
        width: 100%;
    }
    .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
}
@media screen and (max-width: 700px) {
    .container-fluid{
        width:1200px;
    }
    .left-container,
    .main-container,
    .form-inline{
        float: left;
    }
    .main-container,
    .search-form{
        width: 925px;
    }
    .borders-info{
    	width: 905px;
    }
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }
    .form-inline .input-group .form-control {
        width: auto;
    }
    .form-inline .input-group > .form-control {
        width: 100%;
    }
    .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
}


