<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dylan.web.system.mapper.PermissionMapper">
	 
 	 <select id="selectPermissionsByRoles"  resultType="com.dylan.core.entity.E"  parameterType="java.util.List">
        select p.* from system_permission p 
        left join system_role_permission rp on rp.permissionId = p.permissionId
        where 1=1 
        <if test=" list!=null and list.size>0 ">
       	 	and  rp.roleId in
	        <foreach collection="list"  item="role" separator="," open="(" close=")">
	            #{role.roleId}
	        </foreach>
        </if>
    </select>
	<delete id="remove" parameterType="map"> 
		delete from system_role_permission where id=#{id}
	</delete>
	<insert id="insert" parameterType="map">
		insert into system_role_permission
		(roleId, permissionId)
		values
		(#{roleId},#{permissionId})
	</insert>
</mapper>
